<p>
  <b>First Name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>User Name:</b>
  <%= @profile.user_name %>
</p>

<p>
  <b>Line 1:</b>
  <%= @profile.addr_line1 %>
</p>

<p>
  <b>Line 2:</b>
  <%= @profile.addr_line2 %>
</p>

<p>
  <b>City:</b>
  <%= @profile.city %>
</p>

<p>
  <b>State:</b>
  <%= @profile.state %>
</p>

<p>
  <b>Zip Code:</b>
  <%= @profile.zip_code %>
</p>

<p>
  <b>Phone:</b>
  <%= @profile.phone %>
</p>

<p>
  <b>Contact:</b>
  <%= @profile.contact %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %>
