<div class="span9 form_user_signup">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource), html: {class: ""}) do |f| %>
  <%= f.error_notification %>
  <h2 class="form-signin-heading">Sign up</h2>
  <div class="note">
    Please fill out the following application to get started. (view <a href="#" target="_blank">privacy policy</a>).
  </div>
  <hr/>
  <h4 class="span8">Contact Information</h4>
  <div class="span4">
    <%= f.input :first_name, :required => true, :autofocus => true, wrapper_html: {:class => "first_name"}%>
  </div>
  <div class="span4">
    <%= f.input :last_name, :required => true, :autofocus => true, wrapper_html: {:class => "last_name"}%>
  </div>
  <div class="span7">
    <%= f.input :user_name, :required => true, label: "User name (will be visible by others)", :autofocus => true, input_html: {:class => "input-block-level"} %>
  </div>
  <div class="span7">
    <%= f.input :email, :required => true, :autofocus => true, input_html: {:class => "input-block-level"} %>
  </div>
  <div class="span7">
    <%= f.input :password, :required => true, input_html: {:class => "input-block-level"}  %>
  </div>
  <div class="span7">
    <%= f.input :password_confirmation, :required => true, input_html: {:class => "input-block-level"} %>
  </div>
  <div class="span8">
    <hr/>
  </div>
  <h4 class="span8">Address</h4>
  <div class="address">
    <%=f.simple_fields_for :address, collection: [resource.build_address] do |addr_form| %>
      <div class="span7">
        <%=addr_form.input :addrl1, required: true, label: "Street Address", input_html: {:class => "input-block-level"}%>
      </div>
      <div class="span7">
        <%=addr_form.input :addrl2, required: false, label: "Address Line 2", input_html: {:class => "input-block-level"}%>
      </div>
      <div class="span4">
        <%=addr_form.input :city, required: true, label: "City"%>
      </div>
      <div class="span4">
        <%=addr_form.input :state, required: true, collection: states, label: "State", value_method: :abbr, include_blank: 'Select State'%>
      </div>
      <div class="span4">
        <%=addr_form.input :region_code, required: true, label: "Postal / Zip Code"%>
      </div>
    <% end %>
  </div>
  <div class="span7">
    <%= f.input :primary_phone, :required => true, label: "Phone Number" %>
  </div>
  <div class="span8">
    <hr/>
  </div>
  <div class="span6">
    <%= f.input :allow_contact, :required => false, :autofocus => true, label: "Legitimate researchers may contact me?", wrapper_html: {class: "input-block-level"} %>
  </div>

  <div class="span6">
    <%= f.button :submit, "Sign up", class: "btn btn-large btn-primary " %>
     <div class=" pull-right">
      <%= link_to "Already have an account?", new_user_session_path, class: " " %>
    </div>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
