<div class="artifacts-col">
  <div class="row-fluid">
    <% if @artifacts.count != 0 %>
        <% @artifacts.each do |artifact| %>
        <div class="span2">
        <% artifact.images.first(2).each do |i| %>
                <a href="<%= i.file_url.to_s %>" rel="lightbox" title="<%= i.description.to_s %>"><%= image_tag i.file_url.to_s, class: "icon" %></a>
              <% end %>
        </div>
        <div class="span4" >
          <p>
            <b>Type:</b>
            <%= artifact.artifact_type %>
          </p>

          <p>
            <b>Period:</b>
            <%= artifact.period %>
          </p>

          <p>
            <b>Context:</b>
            <%= artifact.context %>
          </p>

          <p>
            <b>County:</b>
            <%= artifact.county %>
          </p>

          <p>
            <b>Desc:</b>
            <%= artifact.description %>
          </p>

          
        </div>
      <% end %>
    <% else %>
      <div width="100%" style="margin: 20px 0;" class="text-center">
        There are no artifacts for this county yet.<br>
        <%= link_to "Add One", new_artifact_path, class: "btn btn-primary", style: "margin-top: 15px;" %>
      </div>
    <% end %>
  </div>
</div>
<% if @count > 1 %>
    <ul class="pager">
      <% if @start != 0 %>
        <li class="previous"><a href="/artifacts/by_county?county=<%= @county %>&start=<%= @start-6 %>">Prev</a></li>
      <% else %>
        <li class="previous disabled"><a href="#" >Prev</a></li>
      <% end %>
      <li><%= link_to "New Artifact", new_artifact_path, class: "btn-primary", style: "padding-left: 25px; padding-right: 25px;"%></li>
      <% if (@count - 1) > (@start / 6) %>
        <li class="next"><a href="/artifacts/by_county?county=<%= @county %>&start=<%= @start+6 %>">Next</a></li>
      <% else %>
        <li class="next disabled"><a href="#" >Next</a></li>
      <% end %>
    </ul>
<% end %>