<%= simple_form_for( @artifact, html: {class: "Center-Container", multipart: true}) do |f| %>
  <% if @artifact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artifact.errors.count, "error") %> prohibited this artifact from being saved:</h2>

      <ul>
      <% @artifact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="Absolute-Center">
    <div class="span4">
          <%=f.input :a_type, required: true, collection: types, label: "Type", value_method: :name, include_blank: 'Select Type'%>
        </div>
    <div class="span4">
          <%=f.input :period, required: true, collection: periods, label: "Period", value_method: :name, include_blank: 'Select Period'%>
        </div>
    <div class="span4">
          <%=f.input :context, required: true, collection: contexts, label: "Context", value_method: :name, include_blank: 'Select Context'%>
        </div>
    <div class="span4">
          <%=f.input :county, required: true, collection: counties, label: "County", value_method: :name, include_blank: 'Select County'%>
        </div>
    <div class="span4">
          <%=f.input :lat, required: false, label: "Latitude"%>
        </div>
    <div class="span4">
          <%=f.input :lon, required: false, label: "Longitude"%>
        </div>
    <div class="span7">
          <%=f.input :desc, as: :text, required: true, label: "Description", input_html: { cols: 85, rows: 10, style: "width: inherit;" }%>
        </div>
    <div class="span6">
      <%= f.button :submit, "Submit", class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>