<h1>Listing artifacts</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Period</th>
    <th>Context</th>
    <th>County</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artifacts.each do |artifact| %>
  <tr>
    <td><%= artifact.type %></td>
    <td><%= artifact.period %></td>
    <td><%= artifact.context %></td>
    <td><%= artifact.county %></td>
    <td><%= artifact.lat %></td>
    <td><%= artifact.lon %></td>
    <td><%= artifact.desc %></td>
    <td><%= link_to 'Show', artifact %></td>
    <td><%= link_to 'Edit', edit_artifact_path(artifact) %></td>
    <td><%= link_to 'Destroy', artifact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artifact', new_artifact_path %>
