<script type="text/javascript">

$(document).ready(function() {    
  
  //Execute the slideShow, set 4 seconds for each images
  slideShow(4000);

});

</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @artifact.a_type %>
</p>

<p>
  <b>Period:</b>
  <%= @artifact.period %>
</p>

<p>
  <b>Context:</b>
  <%= @artifact.context %>
</p>

<p>
  <b>County:</b>
  <%= @artifact.county %>
</p>

<p>
  <b>Lat:</b>
  <%= @artifact.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @artifact.lon %>
</p>

<p>
  <b>Desc:</b>
  <%= @artifact.desc %>
</p>

<p>
<b>Images:</b>

  <% @artifact.images.each do |i| %>
    <a href="<%= i.file_url.to_s %>" rel="lightbox" title="<%= @artifact.desc.to_s %>"><%= image_tag i.file_url.to_s, class: "icon" %></a>
  <% end %>
</p>


<%= link_to 'Edit', edit_artifact_path(@artifact) %> |
<%= link_to 'Back', artifacts_path %>