<%= form_for [@artifact, @image], html: { :class => 'form-horizontal' } do |f| %>
  
  <%= image_tag @image.file.large.url, id: 'cropbox' %>
  
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>

  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, class: 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")), artifact_path(@artifact), class: 'btn' %>
    <%= link_to 'Default', "", class: 'btn btn-success', id: 'make_default'%>

  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(function () {
      $('#make_default').click(function(event) {
        event.preventDefault();
        $.ajax({
          url: '<%= make_default_artifact_images_path %>',
          type: 'POST',
          data: {id : <%= @image.id %>, artifact_id : <%= @artifact.id %>}
        });
      });
    });
</script>