<div class="navbar navbar-fixed-top">
  <div style="width: auto;" class="navbar-inner">
    <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="nav-collapse">
      <span class="pull-left padded-tb" style="padding-top: 2.5px; padding-bottom: 2.5px;">
        <%= link_to image_tag("msu_arch_logo.jpg"), root_path %>
      </span>
      <span class="pull-left tittle" style="padding-top: 10px;">
        <h3>The Kentucky Artifact Registry</h3>
      </span>
      
      <ul class="nav pull-right" style="height: 82.5px;">
        <li class="divider-vertical" style="height: 82.5px;"></li>
        <% if user_signed_in? %>
          <li class="dropdown" style="height: 82.5px; margin-top: 21.25px;">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Menu <i class="icon-th-list"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu" style="margin-top: -30px; z-index:1001;">
                  <li><%= link_to '<i class="icon-arrow-right"></i> Logout'.html_safe, destroy_user_session_path, method: :delete %></li>
                  <% if params[:controller] != 'profiles' %>
                  <li><%= link_to '<i class="icon-user"></i> Edit Profile'.html_safe, edit_profile_path(current_user.profile) %></li>
                  <% end %>
                  <% if current_user.is_admin? %>
                  <li><%= link_to '<i class="icon-eye-open"></i> Admin Dashboard'.html_safe, admin_root_path %></li>
                  <% end %>
                  <% if %>
                  <li><%= link_to 'Add Artifact'.html_safe, new_artifact_path %></li>
                  <% end %>
            </ul>
          </li>
        <% else user_signed_in? %>
          <li class="dropdown" style="height: 82.5px; margin-top: 21.25px;">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Menu <i class="icon-th-list"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu" style="margin-top: -30px; z-index:1001;">
                <% if params[:controller].parameterize != 'devise-sessions' %>
                  <li><%= link_to "Sign in", new_user_session_path %></li>
                <% end %>

                <% if params[:controller].parameterize != 'devise-registrations'  %>
                  <li><%= link_to "Sign up", new_user_registration_path %></li>
                <% end %>
                <%- if params[:controller].parameterize != 'devise-passwords' %>
                  <li><%= link_to "Forgot your password?", new_password_path(User) %></li>
                <% end -%>

                <%- if params[:controller].parameterize != 'devise-confirmations' %>
                  <li><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(User) %></li>
                <% end -%>

                <%- if params[:controller].parameterize != 'devise-unlocks' %>
                  <li><%= link_to "Didn't receive unlock instructions?", new_unlock_path(User) %></li>
                <% end -%>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.nav-collapse -->
  </div>
</div><!-- /navbar -->